.button {
  color: white;
  background: #e5771b;
  padding: 13px;
  cursor: pointer;
  border: none;
}

.button:hover {
  background: #9c5921;
}

.address {
  background-color: #e5771b;
  color: black;

  &.connected {
    background-color: #7f7d7d;
  }
}

.crypto-transfer-card {
  background-color: white;
  border-radius: 10px;
  padding: 10px;
}